/*:root{
    --main-amarillo: #EAC926;
    --main-azul: #03264C;
    --main-celeste: #1259c3;
    --main-gris-oscuro: #666;
    --main-gris-claro: #ebebeb;
    --main-verde: ##39b54a;
    --main-tipo-texto: 12px;
    --main-tipo-titulares: 24px;
    --main-tipo-precios: 18px;
    --main-tipo-descuentos: 16px;
    --main-tipo-descripciones: 16px;
    font-family: 'Roboto';
}*/
body{
    margin: 0;
    --main-amarillo: #EAC926;
    --main-azul: #03264C;
    --main-celeste: #1259c3;
    --main-gris-oscuro: #666;
    --main-gris-claro: #ebebeb;
    --main-verde: ##39b54a;
    --main-tipo-texto: 12px;
    --main-tipo-titulares: 24px;
    --main-tipo-precios: 18px;
    --main-tipo-descuentos: 16px;
    --main-tipo-descripciones: 16px;
    font-family: 'Roboto';
}

header{
    background-color: var(--main-amarillo);   
}

header .logotipo{
    display: block;
    width: 7em;    
}

header #buscar-producto{    
    font-size: 14px;
    color: var(--main-gris-oscuro);
    border: 2px solid #000;
    
}

header .search #logo-lupa{
    background-color: #ffffff;
    border: 2px solid #000;
    font-size: var(--main-tipo-texto);    
    color: #000;       
}

header .compra-en-cuotas{
    text-align: center;
    color: #000;
    font-size: var(--main-tipo-texto);
    font-weight: 500;
}

header nav ul a{
    text-decoration: none;
    color: #000;
    font-size: var(--main-tipo-texto);
    font-weight: 500;    
}

header .burger-menu{
    text-align: center;
}

header div #logo-burguer{
    background-color: var(--main-celeste);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px; 
}

footer{
    text-align: center;
}

footer i{
    font-size: 2em;
    color: var(--main-celeste);
    margin-bottom: 10px;
}
footer h4{
    font-size: var(--main-tipo-descripciones);
    font-weight: 700;
    color: var(--main-gris-oscuro);
}

footer p{
    font-size: var(--main-tipo-texto);
    color: var(--main-gris-oscuro);
}

footer .copyright{
    font-size: var(--main-tipo-texto);
    text-align: left;
}

