/*:root {
    --main-amarillo: #EAC926;
    --main-azul: #03264C;
    --main-celeste: #1259c3;
    --main-gris-oscuro: #666;
    --main-gris-claro: #ebebeb;
    --main-verde: #39b54a;
    --main-tipo-texto: 12px;
    --main-tipo-titulares: 24px;
    --main-tipo-precios: 18px;
    --main-tipo-descuentos: 16px;
    --main-tipo-descripciones: 16px;
    font-family: 'Roboto';
}*/

body {
    margin: 0;
    --main-amarillo: #EAC926;
    --main-azul: #03264C;
    --main-celeste: #1259c3;
    --main-gris-oscuro: #666;
    --main-gris-claro: #ebebeb;
    --main-verde: #39b54a;
    --main-tipo-texto: 12px;
    --main-tipo-titulares: 24px;
    --main-tipo-precios: 18px;
    --main-tipo-descuentos: 16px;
    --main-tipo-descripciones: 16px;
    font-family: 'Roboto' , sans-serif;
}

header {
        background-color: var(--main-amarillo);  
        width: 100%; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

header .linkMercadoLiebre {
    width: 50%;
    
}

.logotipo {
    width: 90%; 
    padding: 15px 0 15px 5%;  
      
}

header .buscador {
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
header .buscador input {    
    font-size: 14px;
    background-color: #ffffff;
    color: var(--main-gris-oscuro);
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 35px;
}

header .buscador .search i {
    background-color: #ffffff;
    font-size: var(--main-tipo-descuentos);    
    color: var(--main-gris-oscuro);  
    position: absolute;
    right: 10%;      
    top: 7.5vw; 
}

header .compra-en-cuotas {
    width: 100%;
    font-size: var(--main-tipo-texto);  
    font-weight: 700; 
    color: var(--main-gris-oscuro); 
    text-align: center;
}

header nav {
    display: none;
    
}

header nav ul {
    width: 45%;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-evenly;  
    min-width: 370px; 
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: var(--main-gris-oscuro);
    font-size: var(--main-tipo-texto);  
    font-weight: 700;
}

header nav .login {
    margin-bottom: 0;
    padding-bottom: 10px;
}

header div.burger-menu {
    text-align: center;
}

header div.burger-menu i {
    background-color: var(--main-celeste);
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px; 
    margin: 10px 0 20px 0;
}

.banner .img-banner {
    width: 100vw;   
    margin-bottom: -4px; 
}

/*  --------------Formularios----------------*/

main form.forms {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    font-size: var(--main-tipo-texto);
}

main form.forms div {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: left; 
    margin: 0 0 20px 0; 
    border-radius: 5%; 
}

main form.forms div label {
    text-align: left;
    font-weight: 700;
    width: 100%;        
}

main form.forms div .campoTexto {
    padding: 5px 0;    
    border: none;
}

main form.forms div.usr {
    margin: 0;    
}

main form.forms div.usr h3, main form.forms div.intereses h3  {
    width: 100%;
    margin: 0 0 10px 0;
    text-align: left;
}

main form.forms div.usr div.user{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
              
}

main form.forms div.usr div.user div {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main .forms div.usr div.user div input {
    width: 20px;
    margin: 0;
}

main .forms div.usr div.user div label {
    width: 60px;
    font-weight: 400;
    text-align: left;
}

main form.forms div.intereses div.opciones-intereses{
    display: flex;
    flex-direction: column;
    align-items: flex-start;           
}

main form.forms div.intereses div.opciones-intereses div {
    display: flex;
    flex-direction: row;
    justify-content: left;

}

main form.forms div.intereses div.opciones-intereses div label {
    width: 60px;
    font-weight: 400;
    text-align: left;
}

main form.forms div.intereses div.opciones-intereses div input {
    width: 20px;
    margin: 0;
}

main form.forms div.botones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

main form.forms div.botones .botones-form {
    width: 35%;
}

main form.forms div.botones .boton-enviar {
    background-color: var(--main-azul);
    color: var(--main-gris-claro);
}

main form.forms div.botones .boton-cancelar {
    background-color: red;
    color: var(--main-gris-claro);
}

main form.forms div.form-log {
    width: 70%;
}

main form.forms div.form-log div {
    width: 100%;
}


/* --------------------------------------------------------*/


/* ------------------------FOOTER--------------------------*/


footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

footer div.footer-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 0;
} 

footer section {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

footer i {
    font-size: 2em;
    color: var(--main-celeste);
    margin-bottom: 10px;
}

footer h4 {
    font-size: var(--main-tipo-descripciones);
    font-weight: 700;
    color: var(--main-gris-oscuro);
    margin: 0;
}

footer p {
    font-size: var(--main-tipo-texto);
    color: var(--main-gris-oscuro);
    width: 75%;
    text-align: center;
    margin: 0 0 50px 0;
}

#copyright {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
}

footer .copyright {
    width: 90%;
    font-size: var(--main-tipo-texto);
    text-align: left;
    margin: 0 0 20px 0;
}

/* --------------------------------------------------------*/

/* ------------------MAIN  HOME.HTML-----------------------*/


main {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: var(--main-gris-claro);
}

main section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--main-gris-claro);
}

main section .titulo {
    width: 90%;
    padding: 5px 0 10px 0;
    background-color: var(--main-gris-claro);
}

main section section.galeria {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main .titulo h3 {
    text-align: left;
    font-size: var(--main-tipo-titulares);
    color: var(--main-gris-oscuro);
    margin: 0;
    padding: 10px 0 10px 0;
    background-color: var(--main-gris-claro);
}

main section section.galeria article {
    margin-bottom: 10px;
    background-color: var(--main-gris-claro);
} 

main section article .articulo {
    margin: auto;
    background-color: #ffffff;
}

main section article .articulo img {
    margin: auto;
    width: 90%;
    height: 120%;
    padding-bottom: 10px;
}

main section article .articulo .detalle-articulo {
    border-top: solid 1px var(--main-gris-claro);
    padding: 15px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

/* Esto es haciendo el circulo en el div y acompdando
con padding el ícomo  */

/*
.circulo {
    width: 40px;
    height: 40px;
    border: solid 1px var(--main-verde);
    border-radius: 20px;
    color: var(--main-verde);
}
main section article .articulo .detalle-articulo .circulo i {
    padding: 7px 9px 0 0;
}    */


/* Todo en el ícono */
/*
main section article .articulo .detalle-articulo .circulo i {
    color: var(--main-verde);
    width: 40px;
    height: 40px;
    padding: 7px 10px 3px 0px;
    border: solid 1px var(--main-verde);
    border-radius: 50%;
}   */

/* Icono centrado según la clase  */


main section article .articulo .detalle-articulo i {
    color: var(--main-verde);  
    display: block;
    font-size: 16px;    
    padding: 5px;
    width: 30px;
    height: 30px;
    border: solid 1px var(--main-verde);
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
}




main section article .articulo .detalle-articulo .precios {
    margin: 0;
    padding: 0;
    width: 30%;
    min-width: 80px;
    font-size: var(--main-tipo-precios);
    font-weight: 700;
    text-align: left;
}

main section article .articulo .detalle-articulo .descuentos {
    margin: 0;
    color: var(--main-verde);
    font-size: var(--main-tipo-descuentos);
    font-weight: 700;
    width: 70%;
    text-align: left
}

main section article .articulo .detalle-articulo .desc-producto {
    display: none;
    margin: 0;
    padding: 10px 0;
    color: var(--main-gris-oscuro);
    font-size: var(--main-tipo-descuentos);
}

/* --------------------------------------------------------*/


/* ----------------------RESPONSIVE------------------------*/



@media (min-width : 361px) {
    main section article .articulo .detalle-articulo .desc-producto {
        display: block; 
    }

    main section article .articulo {
        box-shadow: 0 0 4px 4px rgba(100, 100, 100, .5); 
    }

    header nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    header div.burger-menu {
        display: none;
    }

    header .linkMercadoLiebre {
        width: 29%;
        
    }

    
    header .buscador {
        width: 33%;
        justify-content: space-around;
    }
    header .compra-en-cuotas {
        width: 33%;
        align-self: center;
    }

    header .buscador input {    
        width: 80%;
        height: 25px;
    }

    header .buscador .search i {
        position: unset; 
        border: 1px solid #000000;
        align-self: center;
        padding: 2px;
    }

    main section .titulo {
        width: 90%;
    }

    main section section.galeria {
        width: 95%;
    } 

    main section section.galeria article {
        width: 45%;
    } 

    main section article .articulo .detalle-articulo .precios {
        min-width: 80px;
        padding: 0;
    }
    
    main section article .articulo .detalle-articulo .descuentos {
        padding: 0;
    }

    main form.forms div.usr div.user{
        flex-direction: row;
    }

    main form.forms div.usr div.user div {
        width: 50%;
    }
    
}

@media (min-width : 769px) {
    main section section.galeria article {
        width: 22.5%;
    } 
    
    }

   

